*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #fff;
}

html {
  font-size: 10px;
}

body {
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.gap-1 {
  gap: 2px;
}

.gap-2 {
  gap: 4px;
}

.gap-3 {
  gap: 6px;
}

.gap-4 {
  gap: 8px;
}

.gap-5 {
  gap: 10px;
}

.gap-6 {
  gap: 12px;
}

.gap-7 {
  gap: 14px;
}

.gap-8 {
  gap: 16px;
}

.gap-9 {
  gap: 18px;
}

.gap-10 {
  gap: 20px;
}

.gap-11 {
  gap: 22px;
}

.gap-12 {
  gap: 24px;
}

@media (min-width: 0px) {
  .gap-sm-1 {
    gap: 2px;
  }
  .gap-sm-2 {
    gap: 4px;
  }
  .gap-sm-3 {
    gap: 6px;
  }
  .gap-sm-4 {
    gap: 8px;
  }
  .gap-sm-5 {
    gap: 10px;
  }
  .gap-sm-6 {
    gap: 12px;
  }
  .gap-sm-7 {
    gap: 14px;
  }
  .gap-sm-8 {
    gap: 16px;
  }
  .gap-sm-9 {
    gap: 18px;
  }
  .gap-sm-10 {
    gap: 20px;
  }
  .gap-sm-11 {
    gap: 22px;
  }
  .gap-sm-12 {
    gap: 24px;
  }
}
@media (min-width: 768px) {
  .gap-md-1 {
    gap: 2px;
  }
  .gap-md-2 {
    gap: 4px;
  }
  .gap-md-3 {
    gap: 6px;
  }
  .gap-md-4 {
    gap: 8px;
  }
  .gap-md-5 {
    gap: 10px;
  }
  .gap-md-6 {
    gap: 12px;
  }
  .gap-md-7 {
    gap: 14px;
  }
  .gap-md-8 {
    gap: 16px;
  }
  .gap-md-9 {
    gap: 18px;
  }
  .gap-md-10 {
    gap: 20px;
  }
  .gap-md-11 {
    gap: 22px;
  }
  .gap-md-12 {
    gap: 24px;
  }
}
@media (min-width: 992px) {
  .gap-lg-1 {
    gap: 2px;
  }
  .gap-lg-2 {
    gap: 4px;
  }
  .gap-lg-3 {
    gap: 6px;
  }
  .gap-lg-4 {
    gap: 8px;
  }
  .gap-lg-5 {
    gap: 10px;
  }
  .gap-lg-6 {
    gap: 12px;
  }
  .gap-lg-7 {
    gap: 14px;
  }
  .gap-lg-8 {
    gap: 16px;
  }
  .gap-lg-9 {
    gap: 18px;
  }
  .gap-lg-10 {
    gap: 20px;
  }
  .gap-lg-11 {
    gap: 22px;
  }
  .gap-lg-12 {
    gap: 24px;
  }
}
@media (min-width: 1200px) {
  .gap-xl-1 {
    gap: 2px;
  }
  .gap-xl-2 {
    gap: 4px;
  }
  .gap-xl-3 {
    gap: 6px;
  }
  .gap-xl-4 {
    gap: 8px;
  }
  .gap-xl-5 {
    gap: 10px;
  }
  .gap-xl-6 {
    gap: 12px;
  }
  .gap-xl-7 {
    gap: 14px;
  }
  .gap-xl-8 {
    gap: 16px;
  }
  .gap-xl-9 {
    gap: 18px;
  }
  .gap-xl-10 {
    gap: 20px;
  }
  .gap-xl-11 {
    gap: 22px;
  }
  .gap-xl-12 {
    gap: 24px;
  }
}
.m-1 {
  margin: 2px;
}

.m-2 {
  margin: 4px;
}

.m-3 {
  margin: 6px;
}

.m-4 {
  margin: 8px;
}

.m-5 {
  margin: 10px;
}

.m-6 {
  margin: 12px;
}

.m-7 {
  margin: 14px;
}

.m-8 {
  margin: 16px;
}

.m-9 {
  margin: 18px;
}

.m-10 {
  margin: 20px;
}

.m-11 {
  margin: 22px;
}

.m-12 {
  margin: 24px;
}

@media (min-width: 0px) {
  .m-sm-1 {
    margin: 2px;
  }
  .m-sm-2 {
    margin: 4px;
  }
  .m-sm-3 {
    margin: 6px;
  }
  .m-sm-4 {
    margin: 8px;
  }
  .m-sm-5 {
    margin: 10px;
  }
  .m-sm-6 {
    margin: 12px;
  }
  .m-sm-7 {
    margin: 14px;
  }
  .m-sm-8 {
    margin: 16px;
  }
  .m-sm-9 {
    margin: 18px;
  }
  .m-sm-10 {
    margin: 20px;
  }
  .m-sm-11 {
    margin: 22px;
  }
  .m-sm-12 {
    margin: 24px;
  }
}
@media (min-width: 768px) {
  .m-md-1 {
    margin: 2px;
  }
  .m-md-2 {
    margin: 4px;
  }
  .m-md-3 {
    margin: 6px;
  }
  .m-md-4 {
    margin: 8px;
  }
  .m-md-5 {
    margin: 10px;
  }
  .m-md-6 {
    margin: 12px;
  }
  .m-md-7 {
    margin: 14px;
  }
  .m-md-8 {
    margin: 16px;
  }
  .m-md-9 {
    margin: 18px;
  }
  .m-md-10 {
    margin: 20px;
  }
  .m-md-11 {
    margin: 22px;
  }
  .m-md-12 {
    margin: 24px;
  }
}
@media (min-width: 992px) {
  .m-lg-1 {
    margin: 2px;
  }
  .m-lg-2 {
    margin: 4px;
  }
  .m-lg-3 {
    margin: 6px;
  }
  .m-lg-4 {
    margin: 8px;
  }
  .m-lg-5 {
    margin: 10px;
  }
  .m-lg-6 {
    margin: 12px;
  }
  .m-lg-7 {
    margin: 14px;
  }
  .m-lg-8 {
    margin: 16px;
  }
  .m-lg-9 {
    margin: 18px;
  }
  .m-lg-10 {
    margin: 20px;
  }
  .m-lg-11 {
    margin: 22px;
  }
  .m-lg-12 {
    margin: 24px;
  }
}
@media (min-width: 1200px) {
  .m-xl-1 {
    margin: 2px;
  }
  .m-xl-2 {
    margin: 4px;
  }
  .m-xl-3 {
    margin: 6px;
  }
  .m-xl-4 {
    margin: 8px;
  }
  .m-xl-5 {
    margin: 10px;
  }
  .m-xl-6 {
    margin: 12px;
  }
  .m-xl-7 {
    margin: 14px;
  }
  .m-xl-8 {
    margin: 16px;
  }
  .m-xl-9 {
    margin: 18px;
  }
  .m-xl-10 {
    margin: 20px;
  }
  .m-xl-11 {
    margin: 22px;
  }
  .m-xl-12 {
    margin: 24px;
  }
}
.ml-1 {
  margin-left: 2px;
}

.ml-2 {
  margin-left: 4px;
}

.ml-3 {
  margin-left: 6px;
}

.ml-4 {
  margin-left: 8px;
}

.ml-5 {
  margin-left: 10px;
}

.ml-6 {
  margin-left: 12px;
}

.ml-7 {
  margin-left: 14px;
}

.ml-8 {
  margin-left: 16px;
}

.ml-9 {
  margin-left: 18px;
}

.ml-10 {
  margin-left: 20px;
}

.ml-11 {
  margin-left: 22px;
}

.ml-12 {
  margin-left: 24px;
}

@media (min-width: 0px) {
  .ml-sm-1 {
    margin-left: 2px;
  }
  .ml-sm-2 {
    margin-left: 4px;
  }
  .ml-sm-3 {
    margin-left: 6px;
  }
  .ml-sm-4 {
    margin-left: 8px;
  }
  .ml-sm-5 {
    margin-left: 10px;
  }
  .ml-sm-6 {
    margin-left: 12px;
  }
  .ml-sm-7 {
    margin-left: 14px;
  }
  .ml-sm-8 {
    margin-left: 16px;
  }
  .ml-sm-9 {
    margin-left: 18px;
  }
  .ml-sm-10 {
    margin-left: 20px;
  }
  .ml-sm-11 {
    margin-left: 22px;
  }
  .ml-sm-12 {
    margin-left: 24px;
  }
}
@media (min-width: 768px) {
  .ml-md-1 {
    margin-left: 2px;
  }
  .ml-md-2 {
    margin-left: 4px;
  }
  .ml-md-3 {
    margin-left: 6px;
  }
  .ml-md-4 {
    margin-left: 8px;
  }
  .ml-md-5 {
    margin-left: 10px;
  }
  .ml-md-6 {
    margin-left: 12px;
  }
  .ml-md-7 {
    margin-left: 14px;
  }
  .ml-md-8 {
    margin-left: 16px;
  }
  .ml-md-9 {
    margin-left: 18px;
  }
  .ml-md-10 {
    margin-left: 20px;
  }
  .ml-md-11 {
    margin-left: 22px;
  }
  .ml-md-12 {
    margin-left: 24px;
  }
}
@media (min-width: 992px) {
  .ml-lg-1 {
    margin-left: 2px;
  }
  .ml-lg-2 {
    margin-left: 4px;
  }
  .ml-lg-3 {
    margin-left: 6px;
  }
  .ml-lg-4 {
    margin-left: 8px;
  }
  .ml-lg-5 {
    margin-left: 10px;
  }
  .ml-lg-6 {
    margin-left: 12px;
  }
  .ml-lg-7 {
    margin-left: 14px;
  }
  .ml-lg-8 {
    margin-left: 16px;
  }
  .ml-lg-9 {
    margin-left: 18px;
  }
  .ml-lg-10 {
    margin-left: 20px;
  }
  .ml-lg-11 {
    margin-left: 22px;
  }
  .ml-lg-12 {
    margin-left: 24px;
  }
}
@media (min-width: 1200px) {
  .ml-xl-1 {
    margin-left: 2px;
  }
  .ml-xl-2 {
    margin-left: 4px;
  }
  .ml-xl-3 {
    margin-left: 6px;
  }
  .ml-xl-4 {
    margin-left: 8px;
  }
  .ml-xl-5 {
    margin-left: 10px;
  }
  .ml-xl-6 {
    margin-left: 12px;
  }
  .ml-xl-7 {
    margin-left: 14px;
  }
  .ml-xl-8 {
    margin-left: 16px;
  }
  .ml-xl-9 {
    margin-left: 18px;
  }
  .ml-xl-10 {
    margin-left: 20px;
  }
  .ml-xl-11 {
    margin-left: 22px;
  }
  .ml-xl-12 {
    margin-left: 24px;
  }
}
.mr-1 {
  margin-right: 2px;
}

.mr-2 {
  margin-right: 4px;
}

.mr-3 {
  margin-right: 6px;
}

.mr-4 {
  margin-right: 8px;
}

.mr-5 {
  margin-right: 10px;
}

.mr-6 {
  margin-right: 12px;
}

.mr-7 {
  margin-right: 14px;
}

.mr-8 {
  margin-right: 16px;
}

.mr-9 {
  margin-right: 18px;
}

.mr-10 {
  margin-right: 20px;
}

.mr-11 {
  margin-right: 22px;
}

.mr-12 {
  margin-right: 24px;
}

@media (min-width: 0px) {
  .mr-sm-1 {
    margin-right: 2px;
  }
  .mr-sm-2 {
    margin-right: 4px;
  }
  .mr-sm-3 {
    margin-right: 6px;
  }
  .mr-sm-4 {
    margin-right: 8px;
  }
  .mr-sm-5 {
    margin-right: 10px;
  }
  .mr-sm-6 {
    margin-right: 12px;
  }
  .mr-sm-7 {
    margin-right: 14px;
  }
  .mr-sm-8 {
    margin-right: 16px;
  }
  .mr-sm-9 {
    margin-right: 18px;
  }
  .mr-sm-10 {
    margin-right: 20px;
  }
  .mr-sm-11 {
    margin-right: 22px;
  }
  .mr-sm-12 {
    margin-right: 24px;
  }
}
@media (min-width: 768px) {
  .mr-md-1 {
    margin-right: 2px;
  }
  .mr-md-2 {
    margin-right: 4px;
  }
  .mr-md-3 {
    margin-right: 6px;
  }
  .mr-md-4 {
    margin-right: 8px;
  }
  .mr-md-5 {
    margin-right: 10px;
  }
  .mr-md-6 {
    margin-right: 12px;
  }
  .mr-md-7 {
    margin-right: 14px;
  }
  .mr-md-8 {
    margin-right: 16px;
  }
  .mr-md-9 {
    margin-right: 18px;
  }
  .mr-md-10 {
    margin-right: 20px;
  }
  .mr-md-11 {
    margin-right: 22px;
  }
  .mr-md-12 {
    margin-right: 24px;
  }
}
@media (min-width: 992px) {
  .mr-lg-1 {
    margin-right: 2px;
  }
  .mr-lg-2 {
    margin-right: 4px;
  }
  .mr-lg-3 {
    margin-right: 6px;
  }
  .mr-lg-4 {
    margin-right: 8px;
  }
  .mr-lg-5 {
    margin-right: 10px;
  }
  .mr-lg-6 {
    margin-right: 12px;
  }
  .mr-lg-7 {
    margin-right: 14px;
  }
  .mr-lg-8 {
    margin-right: 16px;
  }
  .mr-lg-9 {
    margin-right: 18px;
  }
  .mr-lg-10 {
    margin-right: 20px;
  }
  .mr-lg-11 {
    margin-right: 22px;
  }
  .mr-lg-12 {
    margin-right: 24px;
  }
}
@media (min-width: 1200px) {
  .mr-xl-1 {
    margin-right: 2px;
  }
  .mr-xl-2 {
    margin-right: 4px;
  }
  .mr-xl-3 {
    margin-right: 6px;
  }
  .mr-xl-4 {
    margin-right: 8px;
  }
  .mr-xl-5 {
    margin-right: 10px;
  }
  .mr-xl-6 {
    margin-right: 12px;
  }
  .mr-xl-7 {
    margin-right: 14px;
  }
  .mr-xl-8 {
    margin-right: 16px;
  }
  .mr-xl-9 {
    margin-right: 18px;
  }
  .mr-xl-10 {
    margin-right: 20px;
  }
  .mr-xl-11 {
    margin-right: 22px;
  }
  .mr-xl-12 {
    margin-right: 24px;
  }
}
.mt-1 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: 4px;
}

.mt-3 {
  margin-top: 6px;
}

.mt-4 {
  margin-top: 8px;
}

.mt-5 {
  margin-top: 10px;
}

.mt-6 {
  margin-top: 12px;
}

.mt-7 {
  margin-top: 14px;
}

.mt-8 {
  margin-top: 16px;
}

.mt-9 {
  margin-top: 18px;
}

.mt-10 {
  margin-top: 20px;
}

.mt-11 {
  margin-top: 22px;
}

.mt-12 {
  margin-top: 24px;
}

@media (min-width: 0px) {
  .mt-sm-1 {
    margin-top: 2px;
  }
  .mt-sm-2 {
    margin-top: 4px;
  }
  .mt-sm-3 {
    margin-top: 6px;
  }
  .mt-sm-4 {
    margin-top: 8px;
  }
  .mt-sm-5 {
    margin-top: 10px;
  }
  .mt-sm-6 {
    margin-top: 12px;
  }
  .mt-sm-7 {
    margin-top: 14px;
  }
  .mt-sm-8 {
    margin-top: 16px;
  }
  .mt-sm-9 {
    margin-top: 18px;
  }
  .mt-sm-10 {
    margin-top: 20px;
  }
  .mt-sm-11 {
    margin-top: 22px;
  }
  .mt-sm-12 {
    margin-top: 24px;
  }
}
@media (min-width: 768px) {
  .mt-md-1 {
    margin-top: 2px;
  }
  .mt-md-2 {
    margin-top: 4px;
  }
  .mt-md-3 {
    margin-top: 6px;
  }
  .mt-md-4 {
    margin-top: 8px;
  }
  .mt-md-5 {
    margin-top: 10px;
  }
  .mt-md-6 {
    margin-top: 12px;
  }
  .mt-md-7 {
    margin-top: 14px;
  }
  .mt-md-8 {
    margin-top: 16px;
  }
  .mt-md-9 {
    margin-top: 18px;
  }
  .mt-md-10 {
    margin-top: 20px;
  }
  .mt-md-11 {
    margin-top: 22px;
  }
  .mt-md-12 {
    margin-top: 24px;
  }
}
@media (min-width: 992px) {
  .mt-lg-1 {
    margin-top: 2px;
  }
  .mt-lg-2 {
    margin-top: 4px;
  }
  .mt-lg-3 {
    margin-top: 6px;
  }
  .mt-lg-4 {
    margin-top: 8px;
  }
  .mt-lg-5 {
    margin-top: 10px;
  }
  .mt-lg-6 {
    margin-top: 12px;
  }
  .mt-lg-7 {
    margin-top: 14px;
  }
  .mt-lg-8 {
    margin-top: 16px;
  }
  .mt-lg-9 {
    margin-top: 18px;
  }
  .mt-lg-10 {
    margin-top: 20px;
  }
  .mt-lg-11 {
    margin-top: 22px;
  }
  .mt-lg-12 {
    margin-top: 24px;
  }
}
@media (min-width: 1200px) {
  .mt-xl-1 {
    margin-top: 2px;
  }
  .mt-xl-2 {
    margin-top: 4px;
  }
  .mt-xl-3 {
    margin-top: 6px;
  }
  .mt-xl-4 {
    margin-top: 8px;
  }
  .mt-xl-5 {
    margin-top: 10px;
  }
  .mt-xl-6 {
    margin-top: 12px;
  }
  .mt-xl-7 {
    margin-top: 14px;
  }
  .mt-xl-8 {
    margin-top: 16px;
  }
  .mt-xl-9 {
    margin-top: 18px;
  }
  .mt-xl-10 {
    margin-top: 20px;
  }
  .mt-xl-11 {
    margin-top: 22px;
  }
  .mt-xl-12 {
    margin-top: 24px;
  }
}
.mb-1 {
  margin-bottom: 2px;
}

.mb-2 {
  margin-bottom: 4px;
}

.mb-3 {
  margin-bottom: 6px;
}

.mb-4 {
  margin-bottom: 8px;
}

.mb-5 {
  margin-bottom: 10px;
}

.mb-6 {
  margin-bottom: 12px;
}

.mb-7 {
  margin-bottom: 14px;
}

.mb-8 {
  margin-bottom: 16px;
}

.mb-9 {
  margin-bottom: 18px;
}

.mb-10 {
  margin-bottom: 20px;
}

.mb-11 {
  margin-bottom: 22px;
}

.mb-12 {
  margin-bottom: 24px;
}

@media (min-width: 0px) {
  .mb-sm-1 {
    margin-bottom: 2px;
  }
  .mb-sm-2 {
    margin-bottom: 4px;
  }
  .mb-sm-3 {
    margin-bottom: 6px;
  }
  .mb-sm-4 {
    margin-bottom: 8px;
  }
  .mb-sm-5 {
    margin-bottom: 10px;
  }
  .mb-sm-6 {
    margin-bottom: 12px;
  }
  .mb-sm-7 {
    margin-bottom: 14px;
  }
  .mb-sm-8 {
    margin-bottom: 16px;
  }
  .mb-sm-9 {
    margin-bottom: 18px;
  }
  .mb-sm-10 {
    margin-bottom: 20px;
  }
  .mb-sm-11 {
    margin-bottom: 22px;
  }
  .mb-sm-12 {
    margin-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .mb-md-1 {
    margin-bottom: 2px;
  }
  .mb-md-2 {
    margin-bottom: 4px;
  }
  .mb-md-3 {
    margin-bottom: 6px;
  }
  .mb-md-4 {
    margin-bottom: 8px;
  }
  .mb-md-5 {
    margin-bottom: 10px;
  }
  .mb-md-6 {
    margin-bottom: 12px;
  }
  .mb-md-7 {
    margin-bottom: 14px;
  }
  .mb-md-8 {
    margin-bottom: 16px;
  }
  .mb-md-9 {
    margin-bottom: 18px;
  }
  .mb-md-10 {
    margin-bottom: 20px;
  }
  .mb-md-11 {
    margin-bottom: 22px;
  }
  .mb-md-12 {
    margin-bottom: 24px;
  }
}
@media (min-width: 992px) {
  .mb-lg-1 {
    margin-bottom: 2px;
  }
  .mb-lg-2 {
    margin-bottom: 4px;
  }
  .mb-lg-3 {
    margin-bottom: 6px;
  }
  .mb-lg-4 {
    margin-bottom: 8px;
  }
  .mb-lg-5 {
    margin-bottom: 10px;
  }
  .mb-lg-6 {
    margin-bottom: 12px;
  }
  .mb-lg-7 {
    margin-bottom: 14px;
  }
  .mb-lg-8 {
    margin-bottom: 16px;
  }
  .mb-lg-9 {
    margin-bottom: 18px;
  }
  .mb-lg-10 {
    margin-bottom: 20px;
  }
  .mb-lg-11 {
    margin-bottom: 22px;
  }
  .mb-lg-12 {
    margin-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .mb-xl-1 {
    margin-bottom: 2px;
  }
  .mb-xl-2 {
    margin-bottom: 4px;
  }
  .mb-xl-3 {
    margin-bottom: 6px;
  }
  .mb-xl-4 {
    margin-bottom: 8px;
  }
  .mb-xl-5 {
    margin-bottom: 10px;
  }
  .mb-xl-6 {
    margin-bottom: 12px;
  }
  .mb-xl-7 {
    margin-bottom: 14px;
  }
  .mb-xl-8 {
    margin-bottom: 16px;
  }
  .mb-xl-9 {
    margin-bottom: 18px;
  }
  .mb-xl-10 {
    margin-bottom: 20px;
  }
  .mb-xl-11 {
    margin-bottom: 22px;
  }
  .mb-xl-12 {
    margin-bottom: 24px;
  }
}
.mx-1 {
  margin-left: 2px;
  margin-right: 2px;
}

.my-1 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.mx-2 {
  margin-left: 4px;
  margin-right: 4px;
}

.my-2 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mx-3 {
  margin-left: 6px;
  margin-right: 6px;
}

.my-3 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.mx-4 {
  margin-left: 8px;
  margin-right: 8px;
}

.my-4 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mx-5 {
  margin-left: 10px;
  margin-right: 10px;
}

.my-5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mx-6 {
  margin-left: 12px;
  margin-right: 12px;
}

.my-6 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.mx-7 {
  margin-left: 14px;
  margin-right: 14px;
}

.my-7 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.mx-8 {
  margin-left: 16px;
  margin-right: 16px;
}

.my-8 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mx-9 {
  margin-left: 18px;
  margin-right: 18px;
}

.my-9 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.mx-10 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-10 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mx-11 {
  margin-left: 22px;
  margin-right: 22px;
}

.my-11 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.mx-12 {
  margin-left: 24px;
  margin-right: 24px;
}

.my-12 {
  margin-top: 24px;
  margin-bottom: 24px;
}

@media (min-width: 0px) {
  .mx-sm-1 {
    margin-left: 2px;
    margin-right: 2px;
  }
  .my-sm-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .mx-sm-2 {
    margin-left: 4px;
    margin-right: 4px;
  }
  .my-sm-2 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .mx-sm-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
  .my-sm-3 {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .mx-sm-4 {
    margin-left: 8px;
    margin-right: 8px;
  }
  .my-sm-4 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .mx-sm-5 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .my-sm-5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mx-sm-6 {
    margin-left: 12px;
    margin-right: 12px;
  }
  .my-sm-6 {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .mx-sm-7 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .my-sm-7 {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .mx-sm-8 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .my-sm-8 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mx-sm-9 {
    margin-left: 18px;
    margin-right: 18px;
  }
  .my-sm-9 {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .mx-sm-10 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .my-sm-10 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mx-sm-11 {
    margin-left: 22px;
    margin-right: 22px;
  }
  .my-sm-11 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .mx-sm-12 {
    margin-left: 24px;
    margin-right: 24px;
  }
  .my-sm-12 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .mx-md-1 {
    margin-left: 2px;
    margin-right: 2px;
  }
  .my-md-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .mx-md-2 {
    margin-left: 4px;
    margin-right: 4px;
  }
  .my-md-2 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .mx-md-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
  .my-md-3 {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .mx-md-4 {
    margin-left: 8px;
    margin-right: 8px;
  }
  .my-md-4 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .mx-md-5 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .my-md-5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mx-md-6 {
    margin-left: 12px;
    margin-right: 12px;
  }
  .my-md-6 {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .mx-md-7 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .my-md-7 {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .mx-md-8 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .my-md-8 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mx-md-9 {
    margin-left: 18px;
    margin-right: 18px;
  }
  .my-md-9 {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .mx-md-10 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .my-md-10 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mx-md-11 {
    margin-left: 22px;
    margin-right: 22px;
  }
  .my-md-11 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .mx-md-12 {
    margin-left: 24px;
    margin-right: 24px;
  }
  .my-md-12 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media (min-width: 992px) {
  .mx-lg-1 {
    margin-left: 2px;
    margin-right: 2px;
  }
  .my-lg-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .mx-lg-2 {
    margin-left: 4px;
    margin-right: 4px;
  }
  .my-lg-2 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .mx-lg-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
  .my-lg-3 {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .mx-lg-4 {
    margin-left: 8px;
    margin-right: 8px;
  }
  .my-lg-4 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .mx-lg-5 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .my-lg-5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mx-lg-6 {
    margin-left: 12px;
    margin-right: 12px;
  }
  .my-lg-6 {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .mx-lg-7 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .my-lg-7 {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .mx-lg-8 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .my-lg-8 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mx-lg-9 {
    margin-left: 18px;
    margin-right: 18px;
  }
  .my-lg-9 {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .mx-lg-10 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .my-lg-10 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mx-lg-11 {
    margin-left: 22px;
    margin-right: 22px;
  }
  .my-lg-11 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .mx-lg-12 {
    margin-left: 24px;
    margin-right: 24px;
  }
  .my-lg-12 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .mx-xl-1 {
    margin-left: 2px;
    margin-right: 2px;
  }
  .my-xl-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .mx-xl-2 {
    margin-left: 4px;
    margin-right: 4px;
  }
  .my-xl-2 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .mx-xl-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
  .my-xl-3 {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .mx-xl-4 {
    margin-left: 8px;
    margin-right: 8px;
  }
  .my-xl-4 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .mx-xl-5 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .my-xl-5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mx-xl-6 {
    margin-left: 12px;
    margin-right: 12px;
  }
  .my-xl-6 {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .mx-xl-7 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .my-xl-7 {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .mx-xl-8 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .my-xl-8 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mx-xl-9 {
    margin-left: 18px;
    margin-right: 18px;
  }
  .my-xl-9 {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .mx-xl-10 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .my-xl-10 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mx-xl-11 {
    margin-left: 22px;
    margin-right: 22px;
  }
  .my-xl-11 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .mx-xl-12 {
    margin-left: 24px;
    margin-right: 24px;
  }
  .my-xl-12 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media (min-width: 0px) {
  .mx-sm-1 {
    margin-left: 2px;
    margin-right: 2px;
  }
  .my-sm-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .mx-sm-2 {
    margin-left: 4px;
    margin-right: 4px;
  }
  .my-sm-2 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .mx-sm-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
  .my-sm-3 {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .mx-sm-4 {
    margin-left: 8px;
    margin-right: 8px;
  }
  .my-sm-4 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .mx-sm-5 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .my-sm-5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mx-sm-6 {
    margin-left: 12px;
    margin-right: 12px;
  }
  .my-sm-6 {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .mx-sm-7 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .my-sm-7 {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .mx-sm-8 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .my-sm-8 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mx-sm-9 {
    margin-left: 18px;
    margin-right: 18px;
  }
  .my-sm-9 {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .mx-sm-10 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .my-sm-10 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mx-sm-11 {
    margin-left: 22px;
    margin-right: 22px;
  }
  .my-sm-11 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .mx-sm-12 {
    margin-left: 24px;
    margin-right: 24px;
  }
  .my-sm-12 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .mx-md-1 {
    margin-left: 2px;
    margin-right: 2px;
  }
  .my-md-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .mx-md-2 {
    margin-left: 4px;
    margin-right: 4px;
  }
  .my-md-2 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .mx-md-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
  .my-md-3 {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .mx-md-4 {
    margin-left: 8px;
    margin-right: 8px;
  }
  .my-md-4 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .mx-md-5 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .my-md-5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mx-md-6 {
    margin-left: 12px;
    margin-right: 12px;
  }
  .my-md-6 {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .mx-md-7 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .my-md-7 {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .mx-md-8 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .my-md-8 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mx-md-9 {
    margin-left: 18px;
    margin-right: 18px;
  }
  .my-md-9 {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .mx-md-10 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .my-md-10 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mx-md-11 {
    margin-left: 22px;
    margin-right: 22px;
  }
  .my-md-11 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .mx-md-12 {
    margin-left: 24px;
    margin-right: 24px;
  }
  .my-md-12 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media (min-width: 992px) {
  .mx-lg-1 {
    margin-left: 2px;
    margin-right: 2px;
  }
  .my-lg-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .mx-lg-2 {
    margin-left: 4px;
    margin-right: 4px;
  }
  .my-lg-2 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .mx-lg-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
  .my-lg-3 {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .mx-lg-4 {
    margin-left: 8px;
    margin-right: 8px;
  }
  .my-lg-4 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .mx-lg-5 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .my-lg-5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mx-lg-6 {
    margin-left: 12px;
    margin-right: 12px;
  }
  .my-lg-6 {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .mx-lg-7 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .my-lg-7 {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .mx-lg-8 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .my-lg-8 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mx-lg-9 {
    margin-left: 18px;
    margin-right: 18px;
  }
  .my-lg-9 {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .mx-lg-10 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .my-lg-10 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mx-lg-11 {
    margin-left: 22px;
    margin-right: 22px;
  }
  .my-lg-11 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .mx-lg-12 {
    margin-left: 24px;
    margin-right: 24px;
  }
  .my-lg-12 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .mx-xl-1 {
    margin-left: 2px;
    margin-right: 2px;
  }
  .my-xl-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .mx-xl-2 {
    margin-left: 4px;
    margin-right: 4px;
  }
  .my-xl-2 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .mx-xl-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
  .my-xl-3 {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .mx-xl-4 {
    margin-left: 8px;
    margin-right: 8px;
  }
  .my-xl-4 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .mx-xl-5 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .my-xl-5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mx-xl-6 {
    margin-left: 12px;
    margin-right: 12px;
  }
  .my-xl-6 {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .mx-xl-7 {
    margin-left: 14px;
    margin-right: 14px;
  }
  .my-xl-7 {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .mx-xl-8 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .my-xl-8 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mx-xl-9 {
    margin-left: 18px;
    margin-right: 18px;
  }
  .my-xl-9 {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .mx-xl-10 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .my-xl-10 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mx-xl-11 {
    margin-left: 22px;
    margin-right: 22px;
  }
  .my-xl-11 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .mx-xl-12 {
    margin-left: 24px;
    margin-right: 24px;
  }
  .my-xl-12 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
.p-1 {
  padding: 2px;
}

.p-2 {
  padding: 4px;
}

.p-3 {
  padding: 6px;
}

.p-4 {
  padding: 8px;
}

.p-5 {
  padding: 10px;
}

.p-6 {
  padding: 12px;
}

.p-7 {
  padding: 14px;
}

.p-8 {
  padding: 16px;
}

.p-9 {
  padding: 18px;
}

.p-10 {
  padding: 20px;
}

.p-11 {
  padding: 22px;
}

.p-12 {
  padding: 24px;
}

@media (min-width: 0px) {
  .p-sm-1 {
    padding: 2px;
  }
  .p-sm-2 {
    padding: 4px;
  }
  .p-sm-3 {
    padding: 6px;
  }
  .p-sm-4 {
    padding: 8px;
  }
  .p-sm-5 {
    padding: 10px;
  }
  .p-sm-6 {
    padding: 12px;
  }
  .p-sm-7 {
    padding: 14px;
  }
  .p-sm-8 {
    padding: 16px;
  }
  .p-sm-9 {
    padding: 18px;
  }
  .p-sm-10 {
    padding: 20px;
  }
  .p-sm-11 {
    padding: 22px;
  }
  .p-sm-12 {
    padding: 24px;
  }
}
@media (min-width: 768px) {
  .p-md-1 {
    padding: 2px;
  }
  .p-md-2 {
    padding: 4px;
  }
  .p-md-3 {
    padding: 6px;
  }
  .p-md-4 {
    padding: 8px;
  }
  .p-md-5 {
    padding: 10px;
  }
  .p-md-6 {
    padding: 12px;
  }
  .p-md-7 {
    padding: 14px;
  }
  .p-md-8 {
    padding: 16px;
  }
  .p-md-9 {
    padding: 18px;
  }
  .p-md-10 {
    padding: 20px;
  }
  .p-md-11 {
    padding: 22px;
  }
  .p-md-12 {
    padding: 24px;
  }
}
@media (min-width: 992px) {
  .p-lg-1 {
    padding: 2px;
  }
  .p-lg-2 {
    padding: 4px;
  }
  .p-lg-3 {
    padding: 6px;
  }
  .p-lg-4 {
    padding: 8px;
  }
  .p-lg-5 {
    padding: 10px;
  }
  .p-lg-6 {
    padding: 12px;
  }
  .p-lg-7 {
    padding: 14px;
  }
  .p-lg-8 {
    padding: 16px;
  }
  .p-lg-9 {
    padding: 18px;
  }
  .p-lg-10 {
    padding: 20px;
  }
  .p-lg-11 {
    padding: 22px;
  }
  .p-lg-12 {
    padding: 24px;
  }
}
@media (min-width: 1200px) {
  .p-xl-1 {
    padding: 2px;
  }
  .p-xl-2 {
    padding: 4px;
  }
  .p-xl-3 {
    padding: 6px;
  }
  .p-xl-4 {
    padding: 8px;
  }
  .p-xl-5 {
    padding: 10px;
  }
  .p-xl-6 {
    padding: 12px;
  }
  .p-xl-7 {
    padding: 14px;
  }
  .p-xl-8 {
    padding: 16px;
  }
  .p-xl-9 {
    padding: 18px;
  }
  .p-xl-10 {
    padding: 20px;
  }
  .p-xl-11 {
    padding: 22px;
  }
  .p-xl-12 {
    padding: 24px;
  }
}
.pl-1 {
  padding-left: 2px;
}

.pl-2 {
  padding-left: 4px;
}

.pl-3 {
  padding-left: 6px;
}

.pl-4 {
  padding-left: 8px;
}

.pl-5 {
  padding-left: 10px;
}

.pl-6 {
  padding-left: 12px;
}

.pl-7 {
  padding-left: 14px;
}

.pl-8 {
  padding-left: 16px;
}

.pl-9 {
  padding-left: 18px;
}

.pl-10 {
  padding-left: 20px;
}

.pl-11 {
  padding-left: 22px;
}

.pl-12 {
  padding-left: 24px;
}

@media (min-width: 0px) {
  .pl-sm-1 {
    padding-left: 2px;
  }
  .pl-sm-2 {
    padding-left: 4px;
  }
  .pl-sm-3 {
    padding-left: 6px;
  }
  .pl-sm-4 {
    padding-left: 8px;
  }
  .pl-sm-5 {
    padding-left: 10px;
  }
  .pl-sm-6 {
    padding-left: 12px;
  }
  .pl-sm-7 {
    padding-left: 14px;
  }
  .pl-sm-8 {
    padding-left: 16px;
  }
  .pl-sm-9 {
    padding-left: 18px;
  }
  .pl-sm-10 {
    padding-left: 20px;
  }
  .pl-sm-11 {
    padding-left: 22px;
  }
  .pl-sm-12 {
    padding-left: 24px;
  }
}
@media (min-width: 768px) {
  .pl-md-1 {
    padding-left: 2px;
  }
  .pl-md-2 {
    padding-left: 4px;
  }
  .pl-md-3 {
    padding-left: 6px;
  }
  .pl-md-4 {
    padding-left: 8px;
  }
  .pl-md-5 {
    padding-left: 10px;
  }
  .pl-md-6 {
    padding-left: 12px;
  }
  .pl-md-7 {
    padding-left: 14px;
  }
  .pl-md-8 {
    padding-left: 16px;
  }
  .pl-md-9 {
    padding-left: 18px;
  }
  .pl-md-10 {
    padding-left: 20px;
  }
  .pl-md-11 {
    padding-left: 22px;
  }
  .pl-md-12 {
    padding-left: 24px;
  }
}
@media (min-width: 992px) {
  .pl-lg-1 {
    padding-left: 2px;
  }
  .pl-lg-2 {
    padding-left: 4px;
  }
  .pl-lg-3 {
    padding-left: 6px;
  }
  .pl-lg-4 {
    padding-left: 8px;
  }
  .pl-lg-5 {
    padding-left: 10px;
  }
  .pl-lg-6 {
    padding-left: 12px;
  }
  .pl-lg-7 {
    padding-left: 14px;
  }
  .pl-lg-8 {
    padding-left: 16px;
  }
  .pl-lg-9 {
    padding-left: 18px;
  }
  .pl-lg-10 {
    padding-left: 20px;
  }
  .pl-lg-11 {
    padding-left: 22px;
  }
  .pl-lg-12 {
    padding-left: 24px;
  }
}
@media (min-width: 1200px) {
  .pl-xl-1 {
    padding-left: 2px;
  }
  .pl-xl-2 {
    padding-left: 4px;
  }
  .pl-xl-3 {
    padding-left: 6px;
  }
  .pl-xl-4 {
    padding-left: 8px;
  }
  .pl-xl-5 {
    padding-left: 10px;
  }
  .pl-xl-6 {
    padding-left: 12px;
  }
  .pl-xl-7 {
    padding-left: 14px;
  }
  .pl-xl-8 {
    padding-left: 16px;
  }
  .pl-xl-9 {
    padding-left: 18px;
  }
  .pl-xl-10 {
    padding-left: 20px;
  }
  .pl-xl-11 {
    padding-left: 22px;
  }
  .pl-xl-12 {
    padding-left: 24px;
  }
}
.pr-1 {
  padding-right: 2px;
}

.pr-2 {
  padding-right: 4px;
}

.pr-3 {
  padding-right: 6px;
}

.pr-4 {
  padding-right: 8px;
}

.pr-5 {
  padding-right: 10px;
}

.pr-6 {
  padding-right: 12px;
}

.pr-7 {
  padding-right: 14px;
}

.pr-8 {
  padding-right: 16px;
}

.pr-9 {
  padding-right: 18px;
}

.pr-10 {
  padding-right: 20px;
}

.pr-11 {
  padding-right: 22px;
}

.pr-12 {
  padding-right: 24px;
}

@media (min-width: 0px) {
  .pr-sm-1 {
    padding-right: 2px;
  }
  .pr-sm-2 {
    padding-right: 4px;
  }
  .pr-sm-3 {
    padding-right: 6px;
  }
  .pr-sm-4 {
    padding-right: 8px;
  }
  .pr-sm-5 {
    padding-right: 10px;
  }
  .pr-sm-6 {
    padding-right: 12px;
  }
  .pr-sm-7 {
    padding-right: 14px;
  }
  .pr-sm-8 {
    padding-right: 16px;
  }
  .pr-sm-9 {
    padding-right: 18px;
  }
  .pr-sm-10 {
    padding-right: 20px;
  }
  .pr-sm-11 {
    padding-right: 22px;
  }
  .pr-sm-12 {
    padding-right: 24px;
  }
}
@media (min-width: 768px) {
  .pr-md-1 {
    padding-right: 2px;
  }
  .pr-md-2 {
    padding-right: 4px;
  }
  .pr-md-3 {
    padding-right: 6px;
  }
  .pr-md-4 {
    padding-right: 8px;
  }
  .pr-md-5 {
    padding-right: 10px;
  }
  .pr-md-6 {
    padding-right: 12px;
  }
  .pr-md-7 {
    padding-right: 14px;
  }
  .pr-md-8 {
    padding-right: 16px;
  }
  .pr-md-9 {
    padding-right: 18px;
  }
  .pr-md-10 {
    padding-right: 20px;
  }
  .pr-md-11 {
    padding-right: 22px;
  }
  .pr-md-12 {
    padding-right: 24px;
  }
}
@media (min-width: 992px) {
  .pr-lg-1 {
    padding-right: 2px;
  }
  .pr-lg-2 {
    padding-right: 4px;
  }
  .pr-lg-3 {
    padding-right: 6px;
  }
  .pr-lg-4 {
    padding-right: 8px;
  }
  .pr-lg-5 {
    padding-right: 10px;
  }
  .pr-lg-6 {
    padding-right: 12px;
  }
  .pr-lg-7 {
    padding-right: 14px;
  }
  .pr-lg-8 {
    padding-right: 16px;
  }
  .pr-lg-9 {
    padding-right: 18px;
  }
  .pr-lg-10 {
    padding-right: 20px;
  }
  .pr-lg-11 {
    padding-right: 22px;
  }
  .pr-lg-12 {
    padding-right: 24px;
  }
}
@media (min-width: 1200px) {
  .pr-xl-1 {
    padding-right: 2px;
  }
  .pr-xl-2 {
    padding-right: 4px;
  }
  .pr-xl-3 {
    padding-right: 6px;
  }
  .pr-xl-4 {
    padding-right: 8px;
  }
  .pr-xl-5 {
    padding-right: 10px;
  }
  .pr-xl-6 {
    padding-right: 12px;
  }
  .pr-xl-7 {
    padding-right: 14px;
  }
  .pr-xl-8 {
    padding-right: 16px;
  }
  .pr-xl-9 {
    padding-right: 18px;
  }
  .pr-xl-10 {
    padding-right: 20px;
  }
  .pr-xl-11 {
    padding-right: 22px;
  }
  .pr-xl-12 {
    padding-right: 24px;
  }
}
.pt-1 {
  padding-top: 2px;
}

.pt-2 {
  padding-top: 4px;
}

.pt-3 {
  padding-top: 6px;
}

.pt-4 {
  padding-top: 8px;
}

.pt-5 {
  padding-top: 10px;
}

.pt-6 {
  padding-top: 12px;
}

.pt-7 {
  padding-top: 14px;
}

.pt-8 {
  padding-top: 16px;
}

.pt-9 {
  padding-top: 18px;
}

.pt-10 {
  padding-top: 20px;
}

.pt-11 {
  padding-top: 22px;
}

.pt-12 {
  padding-top: 24px;
}

@media (min-width: 0px) {
  .pt-sm-1 {
    padding-top: 2px;
  }
  .pt-sm-2 {
    padding-top: 4px;
  }
  .pt-sm-3 {
    padding-top: 6px;
  }
  .pt-sm-4 {
    padding-top: 8px;
  }
  .pt-sm-5 {
    padding-top: 10px;
  }
  .pt-sm-6 {
    padding-top: 12px;
  }
  .pt-sm-7 {
    padding-top: 14px;
  }
  .pt-sm-8 {
    padding-top: 16px;
  }
  .pt-sm-9 {
    padding-top: 18px;
  }
  .pt-sm-10 {
    padding-top: 20px;
  }
  .pt-sm-11 {
    padding-top: 22px;
  }
  .pt-sm-12 {
    padding-top: 24px;
  }
}
@media (min-width: 768px) {
  .pt-md-1 {
    padding-top: 2px;
  }
  .pt-md-2 {
    padding-top: 4px;
  }
  .pt-md-3 {
    padding-top: 6px;
  }
  .pt-md-4 {
    padding-top: 8px;
  }
  .pt-md-5 {
    padding-top: 10px;
  }
  .pt-md-6 {
    padding-top: 12px;
  }
  .pt-md-7 {
    padding-top: 14px;
  }
  .pt-md-8 {
    padding-top: 16px;
  }
  .pt-md-9 {
    padding-top: 18px;
  }
  .pt-md-10 {
    padding-top: 20px;
  }
  .pt-md-11 {
    padding-top: 22px;
  }
  .pt-md-12 {
    padding-top: 24px;
  }
}
@media (min-width: 992px) {
  .pt-lg-1 {
    padding-top: 2px;
  }
  .pt-lg-2 {
    padding-top: 4px;
  }
  .pt-lg-3 {
    padding-top: 6px;
  }
  .pt-lg-4 {
    padding-top: 8px;
  }
  .pt-lg-5 {
    padding-top: 10px;
  }
  .pt-lg-6 {
    padding-top: 12px;
  }
  .pt-lg-7 {
    padding-top: 14px;
  }
  .pt-lg-8 {
    padding-top: 16px;
  }
  .pt-lg-9 {
    padding-top: 18px;
  }
  .pt-lg-10 {
    padding-top: 20px;
  }
  .pt-lg-11 {
    padding-top: 22px;
  }
  .pt-lg-12 {
    padding-top: 24px;
  }
}
@media (min-width: 1200px) {
  .pt-xl-1 {
    padding-top: 2px;
  }
  .pt-xl-2 {
    padding-top: 4px;
  }
  .pt-xl-3 {
    padding-top: 6px;
  }
  .pt-xl-4 {
    padding-top: 8px;
  }
  .pt-xl-5 {
    padding-top: 10px;
  }
  .pt-xl-6 {
    padding-top: 12px;
  }
  .pt-xl-7 {
    padding-top: 14px;
  }
  .pt-xl-8 {
    padding-top: 16px;
  }
  .pt-xl-9 {
    padding-top: 18px;
  }
  .pt-xl-10 {
    padding-top: 20px;
  }
  .pt-xl-11 {
    padding-top: 22px;
  }
  .pt-xl-12 {
    padding-top: 24px;
  }
}
.pb-1 {
  padding-bottom: 2px;
}

.pb-2 {
  padding-bottom: 4px;
}

.pb-3 {
  padding-bottom: 6px;
}

.pb-4 {
  padding-bottom: 8px;
}

.pb-5 {
  padding-bottom: 10px;
}

.pb-6 {
  padding-bottom: 12px;
}

.pb-7 {
  padding-bottom: 14px;
}

.pb-8 {
  padding-bottom: 16px;
}

.pb-9 {
  padding-bottom: 18px;
}

.pb-10 {
  padding-bottom: 20px;
}

.pb-11 {
  padding-bottom: 22px;
}

.pb-12 {
  padding-bottom: 24px;
}

@media (min-width: 0px) {
  .pb-sm-1 {
    padding-bottom: 2px;
  }
  .pb-sm-2 {
    padding-bottom: 4px;
  }
  .pb-sm-3 {
    padding-bottom: 6px;
  }
  .pb-sm-4 {
    padding-bottom: 8px;
  }
  .pb-sm-5 {
    padding-bottom: 10px;
  }
  .pb-sm-6 {
    padding-bottom: 12px;
  }
  .pb-sm-7 {
    padding-bottom: 14px;
  }
  .pb-sm-8 {
    padding-bottom: 16px;
  }
  .pb-sm-9 {
    padding-bottom: 18px;
  }
  .pb-sm-10 {
    padding-bottom: 20px;
  }
  .pb-sm-11 {
    padding-bottom: 22px;
  }
  .pb-sm-12 {
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .pb-md-1 {
    padding-bottom: 2px;
  }
  .pb-md-2 {
    padding-bottom: 4px;
  }
  .pb-md-3 {
    padding-bottom: 6px;
  }
  .pb-md-4 {
    padding-bottom: 8px;
  }
  .pb-md-5 {
    padding-bottom: 10px;
  }
  .pb-md-6 {
    padding-bottom: 12px;
  }
  .pb-md-7 {
    padding-bottom: 14px;
  }
  .pb-md-8 {
    padding-bottom: 16px;
  }
  .pb-md-9 {
    padding-bottom: 18px;
  }
  .pb-md-10 {
    padding-bottom: 20px;
  }
  .pb-md-11 {
    padding-bottom: 22px;
  }
  .pb-md-12 {
    padding-bottom: 24px;
  }
}
@media (min-width: 992px) {
  .pb-lg-1 {
    padding-bottom: 2px;
  }
  .pb-lg-2 {
    padding-bottom: 4px;
  }
  .pb-lg-3 {
    padding-bottom: 6px;
  }
  .pb-lg-4 {
    padding-bottom: 8px;
  }
  .pb-lg-5 {
    padding-bottom: 10px;
  }
  .pb-lg-6 {
    padding-bottom: 12px;
  }
  .pb-lg-7 {
    padding-bottom: 14px;
  }
  .pb-lg-8 {
    padding-bottom: 16px;
  }
  .pb-lg-9 {
    padding-bottom: 18px;
  }
  .pb-lg-10 {
    padding-bottom: 20px;
  }
  .pb-lg-11 {
    padding-bottom: 22px;
  }
  .pb-lg-12 {
    padding-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .pb-xl-1 {
    padding-bottom: 2px;
  }
  .pb-xl-2 {
    padding-bottom: 4px;
  }
  .pb-xl-3 {
    padding-bottom: 6px;
  }
  .pb-xl-4 {
    padding-bottom: 8px;
  }
  .pb-xl-5 {
    padding-bottom: 10px;
  }
  .pb-xl-6 {
    padding-bottom: 12px;
  }
  .pb-xl-7 {
    padding-bottom: 14px;
  }
  .pb-xl-8 {
    padding-bottom: 16px;
  }
  .pb-xl-9 {
    padding-bottom: 18px;
  }
  .pb-xl-10 {
    padding-bottom: 20px;
  }
  .pb-xl-11 {
    padding-bottom: 22px;
  }
  .pb-xl-12 {
    padding-bottom: 24px;
  }
}
.px-1 {
  padding-left: 2px;
  padding-right: 2px;
}

.py-1 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.px-2 {
  padding-left: 4px;
  padding-right: 4px;
}

.py-2 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.px-3 {
  padding-left: 6px;
  padding-right: 6px;
}

.py-3 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.px-4 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-4 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.px-5 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-5 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-6 {
  padding-left: 12px;
  padding-right: 12px;
}

.py-6 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.px-7 {
  padding-left: 14px;
  padding-right: 14px;
}

.py-7 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.px-8 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-8 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.px-9 {
  padding-left: 18px;
  padding-right: 18px;
}

.py-9 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.px-10 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-10 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.px-11 {
  padding-left: 22px;
  padding-right: 22px;
}

.py-11 {
  padding-top: 22px;
  padding-bottom: 22px;
}

.px-12 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-12 {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media (min-width: 0px) {
  .px-sm-1 {
    padding-left: 2px;
    padding-right: 2px;
  }
  .py-sm-1 {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .px-sm-2 {
    padding-left: 4px;
    padding-right: 4px;
  }
  .py-sm-2 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .px-sm-3 {
    padding-left: 6px;
    padding-right: 6px;
  }
  .py-sm-3 {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .px-sm-4 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .py-sm-4 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .px-sm-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .py-sm-5 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .px-sm-6 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .py-sm-6 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .px-sm-7 {
    padding-left: 14px;
    padding-right: 14px;
  }
  .py-sm-7 {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .px-sm-8 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .py-sm-8 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .px-sm-9 {
    padding-left: 18px;
    padding-right: 18px;
  }
  .py-sm-9 {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .px-sm-10 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .py-sm-10 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .px-sm-11 {
    padding-left: 22px;
    padding-right: 22px;
  }
  .py-sm-11 {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .px-sm-12 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .py-sm-12 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .px-md-1 {
    padding-left: 2px;
    padding-right: 2px;
  }
  .py-md-1 {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .px-md-2 {
    padding-left: 4px;
    padding-right: 4px;
  }
  .py-md-2 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .px-md-3 {
    padding-left: 6px;
    padding-right: 6px;
  }
  .py-md-3 {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .px-md-4 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .py-md-4 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .px-md-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .py-md-5 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .px-md-6 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .py-md-6 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .px-md-7 {
    padding-left: 14px;
    padding-right: 14px;
  }
  .py-md-7 {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .px-md-8 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .py-md-8 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .px-md-9 {
    padding-left: 18px;
    padding-right: 18px;
  }
  .py-md-9 {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .px-md-10 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .py-md-10 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .px-md-11 {
    padding-left: 22px;
    padding-right: 22px;
  }
  .py-md-11 {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .px-md-12 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .py-md-12 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media (min-width: 992px) {
  .px-lg-1 {
    padding-left: 2px;
    padding-right: 2px;
  }
  .py-lg-1 {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .px-lg-2 {
    padding-left: 4px;
    padding-right: 4px;
  }
  .py-lg-2 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .px-lg-3 {
    padding-left: 6px;
    padding-right: 6px;
  }
  .py-lg-3 {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .px-lg-4 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .py-lg-4 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .px-lg-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .py-lg-5 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .px-lg-6 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .py-lg-6 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .px-lg-7 {
    padding-left: 14px;
    padding-right: 14px;
  }
  .py-lg-7 {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .px-lg-8 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .py-lg-8 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .px-lg-9 {
    padding-left: 18px;
    padding-right: 18px;
  }
  .py-lg-9 {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .px-lg-10 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .py-lg-10 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .px-lg-11 {
    padding-left: 22px;
    padding-right: 22px;
  }
  .py-lg-11 {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .px-lg-12 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .py-lg-12 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .px-xl-1 {
    padding-left: 2px;
    padding-right: 2px;
  }
  .py-xl-1 {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .px-xl-2 {
    padding-left: 4px;
    padding-right: 4px;
  }
  .py-xl-2 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .px-xl-3 {
    padding-left: 6px;
    padding-right: 6px;
  }
  .py-xl-3 {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .px-xl-4 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .py-xl-4 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .px-xl-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .py-xl-5 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .px-xl-6 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .py-xl-6 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .px-xl-7 {
    padding-left: 14px;
    padding-right: 14px;
  }
  .py-xl-7 {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .px-xl-8 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .py-xl-8 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .px-xl-9 {
    padding-left: 18px;
    padding-right: 18px;
  }
  .py-xl-9 {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .px-xl-10 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .py-xl-10 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .px-xl-11 {
    padding-left: 22px;
    padding-right: 22px;
  }
  .py-xl-11 {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .px-xl-12 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .py-xl-12 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 0px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
.form {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.form-label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin-bottom: 4px;
}
.form-input, .form-textarea, .form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.form-input:focus, .form-textarea:focus, .form-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  outline: none;
}
.form-textarea {
  resize: vertical;
  min-height: 100px;
}
.form-select {
  background-color: #fff;
  cursor: pointer;
}
.form-radio-group {
  display: flex;
  align-items: center;
}
.form-radio-group .form-radio {
  display: flex;
  align-items: center;
  gap: 6px;
}
.form-radio-group .form-radio input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #007bff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.form-radio-group .form-radio input:checked::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #007bff;
  border-radius: 50%;
  position: absolute;
}
.form-radio-group .form-radio label {
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}
.btn-primary:hover {
  background-color: #3395ff;
  color: #fff;
}
.btn-primary:active {
  background-color: #0062cc;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}
.btn-secondary:hover {
  background-color: #868e96;
  color: #fff;
}
.btn-secondary:active {
  background-color: #545b62;
  color: #fff;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}
.btn-success:hover {
  background-color: #34ce57;
  color: #fff;
}
.btn-success:active {
  background-color: #1e7e34;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  color: #000;
}
.btn-danger:hover {
  background-color: #e4606d;
  color: #000;
}
.btn-danger:active {
  background-color: #bd2130;
  color: #000;
}

.btn-warning {
  background-color: #ffc107;
  color: #000;
}
.btn-warning:hover {
  background-color: #ffce3a;
  color: #000;
}
.btn-warning:active {
  background-color: #d39e00;
  color: #000;
}

.btn-info {
  background-color: #17a2b8;
  color: #fff;
}
.btn-info:hover {
  background-color: #1fc8e3;
  color: #fff;
}
.btn-info:active {
  background-color: #117a8b;
  color: #fff;
}

.btn-light {
  background-color: #f8f9fa;
  color: #000;
}
.btn-light:hover {
  background-color: white;
  color: #000;
}
.btn-light:active {
  background-color: #dae0e5;
  color: #000;
}

.btn-dark {
  background-color: #343a40;
  color: #fff;
}
.btn-dark:hover {
  background-color: #4b545c;
  color: #fff;
}
.btn-dark:active {
  background-color: #1d2124;
  color: #fff;
}

.btn-sm {
  padding: 6px 12px;
  font-size: 14px;
}

.btn-lg {
  padding: 14px 28px;
  font-size: 18px;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}/*# sourceMappingURL=style.css.map */