@import "./sass/main.scss";

body {
  width: 100vw;
  min-height: 100vh;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
